.profile{

    margin-bottom: 3rem;
    h1 {
        font-weight: 500;
        letter-spacing: 0px;
        font-size: 2rem !important;
        color: #12123e;
        margin-bottom: 0;
        margin-top: 0;
        line-height: 1.3em;
        letter-spacing: 1px;
        word-spacing: 3px;
    }

    h2 {
        letter-spacing: 1px;
    }    
}

.profile .avatar {
    display: block;
    width: 145px;
    height: 145px;
    border-radius: 50%;
}

.profile .avatar-container {
    border-radius: 50%;
    padding: 5px;
    background: transparent;
    box-shadow: 0 0 17px 5px rgb(169 169 169 / 70%);
    display:inline-flex;

}

nav.navigation {
    a {
        color: #2471a6;
        font-size: 0.85rem;
        letter-spacing: 1px;

        &:hover {
            color: #12123e;
        }
    }

    a.button {
        background-color: #23b5a9;
        .container {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
            text-decoration: none;
            vertical-align: middle;
        }

        &:hover {
            color: #ffffff;
        }
    }
}