<header class="profile">
    <div class="avatar-container">
    {{ if .Site.Params.avatarLink }}
        <a href="{{ .Site.Params.avatarLink }}">
          <img class="avatar" alt="avatar" src="{{ "/images/avatar.png" | relURL }}" />
        </a>
    {{ else }}
        <img class="avatar" alt="avatar" src="{{ "/images/avatar.png" | relURL }}" />
    {{ end }}
    </div>
    <h1>{{ .Site.Params.Author }}</h1>
    
    {{ with .Site.Params.Bio }}
      <h2>{{ . | markdownify }}</h2>
    {{ end }}
</header>